[Desktop Entry]
Type=Application
Name=Arcshot
GenericName=Screen Capture
Comment=Take a screenshot or record the screen
Exec=arcshot
Icon=camera-photo
Terminal=false
Categories=Utility;
Keywords=screenshot;screencast;record;capture;screen;
StartupNotify=true
StartupWMClass=dev.arcshot.Arcshot
